DateTime==4.3
eventlet==0.31.0
Flask==1.0.2
Flask-SocketIO==3.0.2
fbprophet==0.3.post2
gunicorn==19.9.0
numpy==1.15.4
pandas==0.23.0
python-dateutil==2.7.5
python-engineio==2.3.2
python-socketio==2.0.0
requests==2.20.1
